#all{
    margin-left: 350px
}
body{
    background-color: white
}
section h2{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}
#head{
    margin-left: 200px
}


em{
    color: rgb(199, 87, 87);
}

.ng-valid, .ng-valid.required  {
    border-left: 10px solid #42A948; /* green */
    background-color: rgb(182, 253, 185);
  }
  
  .ng-invalid:not(form)  {
    border-left: 10px solid #a94442; /* red */
    background-color: #ffd6d5;
  }
 